<div class="content contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- Contact -->

        <!-- Google maps -->
        <div class="gmap">
          <!-- Google Maps. Replace the below iframe with your Google Maps embed code -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d990.0069740768007!2d110.48209699999998!3d-7.005998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e708d045753e167%3A0x1344516d794864dd!2sPT+Keruyuk+Media+Utama!5e0!3m2!1sen!2sid!4v1424159255316" width="600" height="450" frameborder="0" style="border:0"></iframe>
        </div>


        <div class="bor"></div>
        <div class="row">
          <div class="col-md-6">
            <div class="cwell">
              <!-- Contact form -->
              <h4 class="title">Contact Form</h4>
              <form role="form">
                <div class="form-group">
                  <label for="name">Your Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter Name">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
                </div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Matter</label>
                  <textarea class="form-control" rows="5"></textarea>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Important?
                  </label>
                </div>
                <button type="submit" class="btn btn-default">Send</button>
                <button type="reset" class="btn btn-default">Reset</button>
              </form>
              <hr />
            </div>
          </div>
          <div class="col-md-6">
            <div class="cwell">
              <!-- Address section -->
              <h4 class="title">Address</h4>
              <div class="address">
                <address>
                  <!-- Company name -->
                  <strong>PT Keruyuk Media Utama</strong><br>
                  <!-- Address -->
                  Graha Rias Yenny Lt. 2<br>
                  Semarang 50267<br>
                  <!-- Phone number -->
                  <abbr title="Phone">P:</abbr> (024) 671-0986.
                </address>

                <address>
                  <!-- Name -->
                  <strong>Full Name</strong><br>
                  <!-- Email -->
                  <a href="mailto:#">first.last@gmail.com</a>
                </address>

                <!-- Social media icons -->
                <strong>Get in touch:</strong>
                <div class="social">
                  <a href="#"><i class="fa fa-facebook facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter twitter"></i></a>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>

<!-- Page content ends -->

<!-- CTA Starts -->

<div class="container">
  <div class="cta">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <div class="ctas">
          <!-- Title and Para -->
          <h5>Professional Product Ever Made in Internet</h5>
          <p>Sed diam nisi, pulvinar vitae molestie vitae molestie hendreri hendrerit, venenatis eget mauris.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="ctas">
          <!-- List -->
          <ul>
            <li>Very Cheap in Market. Check it today.</li>
            <li>Professional and Powerful. Don't miss it.</li>
            <li>1000% Guanrantee. No Worries. No Probs.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="ctas">
          <!-- Button -->
          <div class="button"><a href="#">Buy it Today for $99</a></div>
          <p>limited period offer</p>
        </div>
      </div>
    </div>
  </div>
</div>