<% provide(:title, "Portfolio") %>

<div class="page-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Portfolio #1</h2>
        <h4>something goes here</h4>
      </div>
    </div>
  </div>
</div>

<!-- Page Heading ends -->

<!-- Page content starts -->

<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">


        <!-- Add filter names inside "data-filter". For example ".web-design", ".seo", etc., Filter names are used to filter the below images. -->
        <div class="button">
          <ul id="filters">
            <li><a href="#" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".one">One</a></li>
            <li><a href="#" data-filter=".two">Two</a></li>
            <li><a href="#" data-filter=".three">Three</a></li>
            <li><a href="#" data-filter=".four">Four</a></li>
            <li><a href="#" data-filter=".five">Five</a></li>
          </ul>
        </div>



        <div id="portfolio">
          <!-- Add the above used filter names inside div tag. You can add more than one filter names. For image lightbox you need to include "a" tag pointing to image link, along with the class "prettyphoto".-->
          <div class="element one three"><a href="img/photos/1.jpg" class="prettyphoto">
            <img src="img/photos/1.jpg" alt=""/>
            <!-- Portfolio caption -->
            <div class="pcap">
              <h5>Lorem ipsum dolor</h5>
              <p>Sed justo dui, scelerisque ut consectetur vel, eleifend id erat.</p>
            </div>
          </a></div>
          <div class="element two one"><a href="img/photos/2.jpg" class="prettyphoto">
            <img src="img/photos/2.jpg" alt=""/>
            <div class="pcap">
              <h5>Lorem ipsum dolor</h5>
              <p>Sed justo dui, scelerisque ut consectetur vel, eleifend id erat.</p>
            </div>
          </a></div>
          <div class="element three five"><a href="img/photos/3.jpg" class="prettyphoto">
            <img src="img/photos/3.jpg" alt=""/>
            <div class="pcap">
              <h5>Lorem ipsum dolor</h5>
              <p>Sed justo dui, scelerisque ut consectetur vel, eleifend id erat.</p>
            </div>
          </a></div>
          <div class="element four two"><a href="img/photos/4.jpg" class="prettyphoto">
            <img src="img/photos/4.jpg" alt=""/>
            <div class="pcap">
              <h5>Lorem ipsum dolor</h5>
              <p>Sed justo dui, scelerisque ut consectetur vel, eleifend id erat.</p>
            </div>
          </a></div>
          <div class="element five one"><a href="img/photos/5.jpg" class="prettyphoto">
            <img src="img/photos/5.jpg" alt=""/>
            <div class="pcap">
              <h5>Lorem ipsum dolor</h5>
              <p>Sed justo dui, scelerisque ut consectetur vel, eleifend id erat.</p>
            </div>
          </a></div>
          <div class="element four five"><a href="img/photos/6.jpg" class="prettyphoto">
            <img src="img/photos/6.jpg" alt=""/>
            <div class="pcap">
              <h5>Lorem ipsum dolor</h5>
              <p>Sed justo dui, scelerisque ut consectetur vel, eleifend id erat.</p>
            </div>
          </a></div>
          <div class="element three one"><a href="img/photos/7.jpg" class="prettyphoto">
            <img src="img/photos/7.jpg" alt=""/>
            <div class="pcap">
              <h5>Lorem ipsum dolor</h5>
              <p>Sed justo dui, scelerisque ut consectetur vel, eleifend id erat.</p>
            </div>
          </a></div>
          <div class="element three one"><a href="img/photos/8.jpg" class="prettyphoto">
            <img src="img/photos/8.jpg" alt=""/>
            <div class="pcap">
              <h5>Lorem ipsum dolor</h5>
              <p>Sed justo dui, scelerisque ut consectetur vel, eleifend id erat.</p>
            </div>
          </a></div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- Page content ends -->

<!-- CTA Starts -->

<div class="container">
  <div class="cta">
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <div class="ctas">
          <!-- Title and Para -->
          <h5>Professional Product Ever Made in Internet</h5>
          <p>Sed diam nisi, pulvinar vitae molestie vitae molestie hendreri hendrerit, venenatis eget mauris.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="ctas">
          <!-- List -->
          <ul>
            <li>Very Cheap in Market. Check it today.</li>
            <li>Professional and Powerful. Don't miss it.</li>
            <li>1000% Guanrantee. No Worries. No Probs.</li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-3">
        <div class="ctas">
          <!-- Button -->
          <div class="button"><a href="#">Buy it Today for $99</a></div>
          <p>limited period offer</p>
        </div>
      </div>
    </div>
  </div>
</div>
