<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="row">

          <div class="col-md-4">
            <div class="widget">
              <h5>Contact</h5>
              <hr />
              <p>Hubungi kantor marketing kami untuk mengetahui lebih lanjut </p>
              <hr />
              <i class="fa fa-building"></i> &nbsp; Jl. Arya Mukti Barat no. 558 Semarang
              <hr />
              <i class="fa fa-phone"></i> &nbsp; (024) 671 0986
              <hr />
              <i class="fa fa-envelope-o"></i> &nbsp; <a href="mailto:sales@keruyuk.co.id">sales@keruyuk.co.id</a>
              <hr />
              <div class="social">
                <a href="#"><i class="fa fa-facebook facebook"></i></a>
                <a href="#"><i class="fa fa-twitter twitter"></i></a>

              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="widget">

            </div>
          </div>

          <div class="col-md-4">
            <div class="widget">
              <h5>Links</h5>
              <hr />
              <div class="two-col">
                <div class="col-left">
                  <ul>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Software Development</a></li>
                    <li><a href="#">Mobile Application</a></li>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Cloud Services</a></li>
                    <li><a href="#">IT Consultancy</a></li>
                  </ul>
                </div>
                <div class="col-right">
                  <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">KMU Group</a></li>
                    <li><a href="#">Media Review</a></li>
                    <li><a href="#">Achievement</a></li>
                    <li><a href="#">Meet Our Team</a></li>
                    <li><a href="#">Download Logo</a></li>
                  </ul>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

        </div>

        <hr />
        <!-- Copyright info -->
        <p class="copy">Copyright &copy; 2015 | <a href="#">KMU</a> - <%= link_to "Home", root_path %> | <%= link_to "Contact", contact_path %> |
          <a href="#">Service</a> | Built using <a href="http://www.rubyonrails.org">Ruby on Rails</a></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</footer>