<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-3">
        <!-- Logo. Use class "color" to add color to the text. -->
        <div class="logo">
          <h1><%= image_tag("transparan.png", size: "240x50", alt: "KMU") %></h1>

        </div>
      </div>
      <div class="col-md-8 col-sm-9">
        <!-- Navigation -->
        <div class="navbar bs-docs-nav" role="banner">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Home",      root_path %></li>
              <li><%= link_to "Portfolio", portfolio_path %></li>
              <li><%= link_to "Contact",   contact_path %></li>
            </ul>
          </nav>
        </div>
        <!--/ Navigation end -->
      </div>
    </div>
  </div>
</header>

<div class="sep"></div>