<% provide(:title, "Captcha Error") %>
<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">  
        <div class="well c-soon">
            <p class="soon-med">Warning</p>                        
            <p class="soon-big"><span class="color">Captcha Error!!!</span></p>                        
            <p class="soon-small">The captcha you entered is invalid, please try again.</p>   
        </div>
      </div>
    </div>
  </div>
</div>